.cart-dropdown-container {
  position: absolute;
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 40px;
  right: 40px;
  z-index: 500000000;
}
.cart-dropdown-container .empty-message {
  font-size: 18px;
  margin: 50px auto;
}
.cart-dropdown-container .cart-items {
  height: 600px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

button {
  margin-top: auto;
}
