.header{
    height: 200px;
    background-color:#777;
    padding-bottom: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
    width: 100%;
    
}
.header h1{
    padding: 10px;
    font-size: 100px;
    color: white;
    text-align: center;
    padding-top: 40px;

}
.Nabvar.icon{
    text-align: right;
}